.first-section-wrapper{
    background-image: url(https://source.unsplash.com/1920x1080/?nature);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:540px;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 444px;
}

@media screen and (max-width: 573px) {
     .first-section-form {
        & input {
            display: inline-flex;
            width: 200px;
        }
     }
}

.text-content-wrapper {
    text-align: center;
}

.subTitle {
    display: block;
    font-size: 1.5em;
    margin-top: 0.43em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
}

.first-section-button {
    padding-right: 15px;
    padding-left: 15px;
}